.t-cb {
    transition: all 0.3s cubic-bezier(0.33, 1, 0.66, 1);
  }
  
  .checkbox:checked + .checkbox-wrapper {
    background-color: #19a974;
  }
  .checkbox:checked + .checkbox-wrapper .checkbox-toggle {
    left: 2rem;
    background-color: #ccc;
  }